body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 50px;
  
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid#E2BC97;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  
}
.grid-item-add-product {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid#E2BC97;
  padding: 20px;
  font-size: 16px;
  font-family: ‘Open Sans’, Sans-serif;
  text-align: center;
}
.add-new-product {
  padding: 20px;
  font-size: 30px;
  font-family: ‘Open Sans’, Sans-serif;
}

.link {
  font-family: ‘Open Sans’, Sans-serif;
  font-size: 16px;
  color:#333;
  text-decoration: none;
}

.product-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  padding-top: 5px;
}

.product-name {
  font-size: 20;
}

.product-price {
  font-size: 15;
}

.single-product-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  padding-top: 5px;
}

.single-product-name {
  font-family: serif;
  text-align: center;
}

.checkout-product-image{
  display: block;
  height: 100px;
  padding-top: 5px;
}

.logo{
  align-items: center;
  height: 100px;
  width: 150px;

  position:absolute;
  top: 6.5%;
  left:50%;
  margin-top:-50px; /* this is half the height of your div*/
  margin-left:-100px; /*this is half of width of your div*/
}

#add-product-form{
  text-align: center;
}

#main{
  margin-top: 50px;
}

nav{

margin-top: 110px;
background-color: #ec7e10;
  text-decoration: none;
  color: white;
  position: sticky;
}

.container{
  display: flex;
  flex-direction: column;
}

span{
  text-decoration: none;
  color: white;
}
.tab:hover{
  background-color: #f3a04c;
  border: 2px solid white;
  padding: 11px 2px;
}
.greeting{
  color: black;
  font-family: cursive;
  font-size: 20px;
  font-weight: bold;
}


button{
  font-size: 18px;
  background-color: #e69e56;
  padding: 5px;
  border-radius: 5px;
}


button:hover{
  background-color: rgb(248, 203, 2);
}
.delete:hover{
  background: red;

}
.add:hover{
  background: rgb(135, 228, 135);
}
.grid-item:hover{
  background: #fdba77;
}


.single-item-name {
  font-size: 16px;
}

.cart-name {
  text-align: center;
}

.cart-image {
  display: block;
  /* margin-left: auto; */
  margin-right: auto;
  height: 150px;
  padding-top: 5px;
}
