body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 50px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid#E2BC97;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-item-add-product {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid#E2BC97;
  padding: 20px;
  font-size: 16px;
  font-family: ‘Open Sans’, Sans-serif;
  text-align: center;
}
.add-new-product {
  padding: 20px;
  font-size: 30px;
  font-family: ‘Open Sans’, Sans-serif;
}

.link {
  font-family: ‘Open Sans’, Sans-serif;
  font-size: 16px;
  color:#333;
  text-decoration: none;
}